/* Object-fit : contain maintains the aspcet ratio of image. 
align items center aligns everything to cenetr on the horizontal axis */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    object-fit: contain;
    height: 40px;
}

.header__icon{
    padding: 15x;
}